<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link href="css/customer.css" rel="stylesheet">
</head>
<body>
<div class="a11">
    <!-- 标题 -->
    <div class="title">パスワード変更</div>

    <!--  内容 -->
        <div class="a11_main">
  
            <div class="row_container">
                <p class="row_title">パスワード</p>

                <div class="row">
                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li > <img src="images/icon_required.gif" alt="必須"></li>
                                <li>旧パスワード</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <input type="password" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li > <img src="images/icon_required.gif" alt="必須"></li>
                                <li>新パスワード</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <input type="password" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li > <img src="images/icon_required.gif" alt="必須"></li>
                                <li>確認新パスワード</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <input type="password" class="form-control" placeholder="">
                        </div>
                    </div>

                </div>
            </div>

              <div class="text-center">
                <button class="text_bt">戻る</button> 
                <button class="text_bt">変更</button> 
             </div>
            <div class="text-center">
                <div class="text-center col-lg-6 offset-lg-3">
                    <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
                </div>
            </div>
        </div>
</div>
        
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.2.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>
