<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link href="css/customer.css" rel="stylesheet">
</head>
<body>
<div class="a11">
    <!-- 标题 -->
    <div class="title">支払口座情報</div>

    <!--  内容 -->
        <div class="a11_main">
  
            <div class="row_container">
                <p class="row_title">支払口座情報</p>

                <div class="row">
                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li>金融機関コード</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <textarea class="row_input" placeholder="1234" contenteditable></textarea>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li>支店コード</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <textarea class="row_input" placeholder="001" contenteditable></textarea>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li>預金種別</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <ul>
                                <li>
                                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                                    <label class="custom-control-label" for="customRadio1">普通預金</label>
                                </li>
                                <li>
                                    　
                                </li>
                                <li>
                                    <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                                    <label class="custom-control-label" for="customRadio2">当座</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li>口座番号</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <textarea class="row_input" placeholder="1234567" contenteditable></textarea>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li>口座名義人</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <textarea class="row_input" placeholder="ヤマダ タロウ" contenteditable></textarea>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="row_container">
                <p class="row_title">クレジットカード</p>

                <div class="row">
                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li>カード番号</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <textarea class="row_input" placeholder="1234567890123456" contenteditable></textarea>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li>有効期間</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <textarea class="row_input" placeholder="202501" contenteditable></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="text_bt">次へ進む</button> 
            </div>
            <div class="text-center">
                <div class="text-center col-lg-6 offset-lg-3">
                    <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
                </div>
            </div>
        </div>
</div>
        
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.2.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>
