<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link th:href="@{/css/customer.css}" rel="stylesheet">
</head>
<body>
<div class="a11">
    <!-- 标题 -->
    <div class="title">お客様情報</div>

        <br>
        <div>
            <button class="text_s_bt">属性変更</button>
            <button class="text_n_bt">確認書類変更</button>
            <button class="text_s_bt">口座変更</button>
            <button class="text_n_bt">パスワード変更</button>
            <button class="text_s_bt">保険照会</button>
        </div>
        <!--  内容 -->
        <div class="a11_main">

            <div class="row_container">
                <p class="row_title">ログイン情報</p>

                <div class="row">
                    <div class="row_div">
                        <div class="row_name">
                            <ul >
                                <li>Ｅメール</li>
                            </ul>
                        </div>
                        <div class="row_input">yamata.taro@h.co.jp</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul  >
                                <li>生年月日</li>
                             </ul>
                        </div>
                        <div class="row_input">1980-12-31</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>携帯電話</li>
                             </ul>
                        </div>
                        <div class="row_input">080-1234-5678</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>ログイン別名</li>
                             </ul>
                        </div>
                        <div class="row_input">yamata.taro</div>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <p class="row_title">本人情報</p>

                <div class="row">

                    <div class="row3_div">
                        <div class="row_name">
                            <ul>
                                <li>姓</li>
                            </ul>
                        </div>
                        <div class="row_input">
                            <div class="custom-control  custom-control-inline">
                                <div class="row_input">ヤマダ</div>
                            </div>
                            <div class="custom-control  custom-control-inline">
                                <div class="row_input">山田</div>
                            </div>
                            <div class="custom-control  custom-control-inline">
                                <div class="row_input">yamada</div>
                            </div>
                        </div>
                    </div>

                    <div class="row3_div">
                        <div class="row_name">
                            <ul>
                                <li>名</li>
                            </ul>
                        </div>
                        <div class="row_input">
                            <div class="custom-control  custom-control-inline">
                                <div class="row_input">タロウ</div>
                            </div>
                            <div class="custom-control  custom-control-inline">
                                <div class="row_input">太郎</div>
                            </div>
                            <div class="custom-control  custom-control-inline">
                                <div class="row_input">taro</div>
                            </div>
                        </div>

                    </div>

                    <div class="row_div">
                        <div class=" row_name">
                            <ul>
                                <li>性別</li>
                            </ul>
                        </div>
                        <div class="row_input">男性</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                            <ul>
                                <li>　運転免許証</li>
                            </ul>
                        </div>
                        <div class="row_input">501610103260</div>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <p class="row_title">支払口座情報</p>

                <div class="row">
                    <div class="row2_2_div">
                        <div class="row2_name">
                            <ul >
                                <li>金融機関コード</li>
                            </ul>
                        </div>
                        <div class="row2_input">

                        </div>
                    </div>

                    <div class="row2_2_div">
                        <div class="row2_name">
                            <ul >
                                <li>支店コード</li>
                            </ul>
                        </div>
                        <div class="row2_input">

                        </div>
                    </div>

                    <div class="row2_2_div">
                        <div class="row2_name">
                            <ul >
                                <li>預金種別</li>
                            </ul>
                        </div>
                        <div class="row2_input">

                        </div>
                    </div>

                    <div class="row2_2_div">
                        <div class="row2_name">
                            <ul >
                                <li>口座番号</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                        </div>
                    </div>

                    <div class="row2_2_div">
                        <div class="row2_name">
                            <ul >
                                <li>口座名義人</li>
                            </ul>
                        </div>
                        <div class="row2_input">

                        </div>
                    </div>

                </div>
            </div>

            <div class="row_container">
                <p class="row_title">クレジットカード</p>

                <div class="row">
                    <div class="row2_2_div">
                        <div class="row2_name">
                            <ul >
                                <li>カード番号</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="row_input">1234567890123456</div>
                        </div>
                    </div>

                    <div class="row2_2_div">
                        <div class="row2_name">
                            <ul >
                                <li>有効期間</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="row_input">202501</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <p class="row_title">住所情報</p>

                <div class="row">

                    <div class="row_div">
                        <div class="row_name">
                            <ul>
                                <li>郵便番号</li>
                            </ul>
                        </div>
                        <div class="row_input">163-8001</div>
                    </div>

                    <div class="row_div">
                        <div class="row_name">
                            <ul>
                                <li>都・道・府・県</li>
                            </ul>
                        </div>
                        <div class="row_input">東京都</div>
                    </div>
                    <div class="row2_div">
                        <div class="row2_name">
                            <ul>
                                <li>住所漢字</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="">
                                <div class="row_input">新宿区西新宿</div>
                            </div>
                            <div class="">
                                <div class="row_input">二丁目８番１号</div>
                            </div>
                        </div>

                    </div>

                    <div class="row2_div">
                        <div class="row2_name">
                            <ul>
                                <li>住所カナ</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div>
                                <div class="row_input">シンジュクニシシンジュク</div>
                            </div>
                            <div>
                                <div class="row_input">２－８－１</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <p class="row_title">勤務先情報</p>

                <div class="row">

                    <div class="row_div">
                        <div class="row_name">
                            <ul>
                                <li>　業種</li>
                            </ul>
                        </div>
                        <div class="row_input">製造</div>
                    </div>

                    <div class="row_div">
                        <div class="row_name">
                            <ul>
                                <li>　勤務先名</li>
                            </ul>
                        </div>
                        <div class="row_input">株式会社　H</div>
                    </div>

                    <div class="row_div">
                        <div class=" row_name">
                            <ul>
                                <li>　勤務先部課名</li>
                            </ul>
                        </div>
                        <div class="row_input">第一事業部</div>
                    </div>
                    <div class="row_div">
                        <div class=" row_name">
                            <ul>
                                <li>　勤務先電話</li>
                            </ul>
                        </div>
                        <div class="row_input">03-1111-2222</div>
                    </div>
                    <div class="row2_div">
                        <div class="row2_name">
                            <ul>
                                <li>　勤務先住所</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="">
                                <div class="row_input">新宿区東新宿</div>
                            </div>
                            <div class="">
                                <div class="row_input">一丁目１番２号</div>
                            </div>
                        </div>
                    </div>
                    <div class="row_div">
                        <div class=" row_name">
                            <ul>
                                <li>　入社年月</li>
                            </ul>
                        </div>
                        <div class="row_input">201004</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <div class="text-center col-lg-6 offset-lg-3">
                    <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
                </div>
                </div>

        </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap-4.0.0.js}"></script>
</body>
</html>
