<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link href="css/customer.css" rel="stylesheet">
</head>
<body>
<div class="a11">
    <!-- 标题 -->
    <div class="title">保険情報</div>

    <!--  内容 -->
        <div class="a11_main">
  
            <div class="row_container">
                <p class="row_title">契約情報</p>

                <div class="row">
                    <div class="row_div"> 
                        <div class="row_name">
                            <ul >
                                <li>契約番号</li>
                            </ul>
                        </div>
                        <div class="row_input">2022100110235485</div>
                    </div>
                    <div class="row_div"> 
                        <div class="row_name">
                            <ul >
                                <li>契約日</li>
                            </ul>
                        </div>
                        <div class="row_input">20221001</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul  >
                                <li>保険ID</li>
                             </ul>
                        </div>
                        <div class="row_input">2022100155021436</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul  >
                                <li>有効期限</li>
                             </ul>
                        </div>
                        <div class="row_input">20221101～20231031</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>支払方式</li>
                             </ul>
                        </div>
                        <div class="row_input">年次</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>料金額</li>
                             </ul>
                        </div>
                        <div class="row_input">35,000円</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>状態</li>
                             </ul>
                        </div>
                        <div class="row_input">正常</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>解約日</li>
                             </ul>
                        </div>
                        <div class="row_input"></div>
                    </div>
                </div>
                <div>
                    <button class="text_s_bt">給付金申請</button> 
                    <button class="text_s_bt">結果確認</button> 
                    <button class="text_s_bt">解約予約</button> 
                </div>
            </div>
            <div class="row_container">
                <p class="row_title">再契約情報</p>

                <div class="row">
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>支払方式</li>
                             </ul>
                        </div>
                        <div class="row_input">年次</div>
                    </div>
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>料金額</li>
                             </ul>
                        </div>
                        <div class="row_input">35,000円</div>
                    </div>  
                    <div class="row_div">
                        <div class="row_name">
                             <ul >
                                <li>契約方式</li>
                             </ul>
                        </div>
                        <select class="row_input" >
                            <option>1回</option>
                            <option>1ヶ月</option>
                            <option>3ヶ月</option>
                            <option>1年</option>
                            <option>5年</option>
                        </select>
                    </div>                  
                </div>
                <div>
                    <button class="text_s_bt">再契約</button> 
                </div>
            </div>
            <div class="row_container">
                <p class="row_title">特徴</p>
                <br>
                <div class="row">
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/1.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/2.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/3.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/4.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/5.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/6.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/7.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/8.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/9.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/10.jpg">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row_container">
                <p class="row_title">保障内容</p>
                <br>
                <div class="row">
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/1.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/2.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/3.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/4.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/5.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/6.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/7.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/8.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/9.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/10.jpg">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row_container">
                <p class="row_title">給付例</p>
                <br>
                <div class="row">
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/1.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/2.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/3.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/4.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/5.jpg">
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/6.jpg">
                    </div>
                </div>
                <div class="row_div">
                    <div class="row_name">
                         <ul >
                            <li>契約開始日</li>
                         </ul>
                    </div>
                    <textarea class="row_input"  placeholder="2023/01/01" contenteditable></textarea>
                </div>
            </div>

            <div class="text-center">
                <button class="text_bt">戻る</button> 
                <button class="text_bt">契約</button>                
            </div>
            <div class="text-center">
                <div class="text-center col-lg-6 offset-lg-3">
                    <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
                </div>
            </div>
        </div>
</div>
        
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.2.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>
