<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link href="css/customer.css" rel="stylesheet">
</head>
<body>
<div class="a11">
    <!-- 标题 -->
    <div class="title">給付金申請情報のご確認</div>

    <!--  内容 -->
        <div class="a11_main">
  
            <div class="row_container">
                <p class="row_title">確認書類情報</p>

                <div class="row">
                    <div class="row3_div"> 
                        <div class="row_name">
                            <ul >
                                <li > <img src="images/icon_required.gif" alt="必須"></li>
                                <li>説明資料</li>
                            </ul>
                        </div>
                        <div class="row_input">
                            <div class="row_input">XXXXXXXXX</div>
                        </div>
                    </div>
                </div>
                <div class="row2_2_div"> 
                    <div class="row2_name">
                        <ul >
                            <li>　　関連資料1</li>
                        </ul>
                    </div>
                    <div class="row2_input">
                        <div class="row_input">1.pdf</div>
                    </div>
                </div>
                <div class="row2_2_div"> 
                    <div class="row2_name">
                        <ul >
                            <li>　　関連資料2</li>
                        </ul>
                    </div>
                    <div class="row2_input">
                        <div class="row_input">2.pdf</div>
                    </div>
                </div>
                <div class="row2_2_div"> 
                    <div class="row2_name">
                        <ul >
                            <li>　　関連資料3</li>
                        </ul>
                    </div>
                    <div class="row2_input">
                        <div class="row_input"></div>
                    </div>
                </div>
                <div class="row2_2_div"> 
                    <div class="row2_name">
                        <ul >
                            <li>　　関連資料4</li>
                        </ul>
                    </div>
                    <div class="row2_input">
                        <div class="row_input"></div>
                    </div>
                </div>
            </div>
            
            <div class="row_container">
                <p class="row_title">入金口座情報</p>

                <div class="row">
                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul>
                                <li> <img src="images/icon_required.gif" alt="必須"></li>
                                <li>金融機関コード</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="row_input">1234</div>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul>
                                <li> <img src="images/icon_required.gif" alt="必須"></li>
                                <li>支店コード</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="row_input">001</div>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul>
                                <li> <img src="images/icon_required.gif" alt="必須"></li>
                                <li>預金種別</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="row_input">普通預金</div>                            
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li> <img src="images/icon_required.gif" alt="必須"></li>
                                <li>口座番号</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="row_input">1234567</div>
                        </div>
                    </div>

                    <div class="row2_2_div"> 
                        <div class="row2_name">
                            <ul >
                                <li> <img src="images/icon_required.gif" alt="必須"></li>
                                <li>口座名義人</li>
                            </ul>
                        </div>
                        <div class="row2_input">
                            <div class="row_input">ヤマダ タロウ</div>
                        </div>
                    </div>

                </div>
            </div>

              <div class="text-center">
                <button class="text_bt">戻る</button> 
                <button class="text_bt">登録</button> 
             </div>
            <div class="text-center">
                <div class="text-center col-lg-6 offset-lg-3">
                    <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
                </div>
            </div>
        </div>
</div>
        
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.2.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>
