<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link href="css/customer.css" rel="stylesheet">
</head>
<body>

<div class="a11">
    <!-- 标题 -->
    <div class="title">保険情報詳細</div>
    <div class="a11_main">
        <div class="row_container" >
            <p class="row_title">保険</p>
            <div class="row">
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>保険ID</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="2022100155021436" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>保険番号</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="04" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>保険名</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="生命保険１" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>保険種類</li>
                        </ul>
                    </div>
                    <select class="row_input" >
                        <option>生命保険・死亡保険</option>
                        <option>医療保険・入院保険</option>
                        <option>旅行の保険</option>
                        <option>火災保険</option>
                        <option>地震保険</option>
                        <option>自動車保険</option>
                        <option>自転車保険</option>
                    </select>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>保険共通区分</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="001" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>販売区分</li>
                        </ul>
                    </div>
                    <select class="row_input" >
                        <option>すべで</option>
                        <option>オンライン</option>
                        <option>店頭</option>
                        <option>保留</option>
                        <option>販売終了</option>
                    </select>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>排他区分</li>
                        </ul>
                    </div>
                    <select class="row_input" >
                        <option>該当しない</option>
                        <option>該当</option>
                    </select>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>簡単契約区分</li>
                        </ul>
                    </div>
                    <select class="row_input" >
                        <option>該当しない</option>
                        <option>該当</option>
                    </select>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>支払方式</li>
                        </ul>
                    </div>
                    <select class="row_input" >
                        <option>年次</option>
                        <option>月次</option>
                        <option>年次</option>
                    </select>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>契約方式</li>
                        </ul>
                    </div>
                    <select class="row_input" >
                        <option>年次</option>
                        <option>月次</option>
                        <option>年次</option>
                    </select>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>料金額</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="35,000" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>状態</li>
                        </ul>
                    </div>
                    <select class="row_input" >
                        <option>すべで</option>
                        <option>準備中</option>
                        <option>有効</option>
                        <option>無効</option>
                    </select>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>検索用年齢S</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="18" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>検索用年齢E</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="880" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class=" row_name">
                        <ul>
                            <li><img src="images/icon_required.gif" alt="必須"></li>
                            <li>検索用性別</li>
                        </ul>
                    </div>
                    <div class="row_input">
                        <ul>
                            <li>
                                <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                                <label class="custom-control-label" for="customRadio1">男性</label>
                            </li>
                            <li>
                                　
                            </li>
                            <li>
                                <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                                <label class="custom-control-label" for="customRadio2">女性</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <button class="text_s_bt">変更</button> 
                <button class="text_s_bt">コピー作成</button> 
            </div>
        </div>

        <br>

        <div class="row_title">保険情報</div>
        <div>
            <button class="text_s_bt">新規登録</button> 
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>保険番号</th>
                        <th>変更区分</th>
                        <th>登録日時</th> 
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>05</td>
                        <td>変更可</td>
                        <td>2022/10/10 13:00:00</td>
                        <td><button class="text_s_bt">詳細</button> </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>変更不可</td>
                        <td>2022/10/08 13:10:00</td>
                        <td><button class="text_s_bt">詳細</button> </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>変更不可</td>
                        <td>2022/10/08 13:00:00</td>
                        <td><button class="text_s_bt">詳細</button> </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>変更不可</td>
                        <td>2022/10/07 14:10:00</td>
                        <td><button class="text_s_bt">詳細</button> </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>変更不可</td>
                        <td>2022/10/01 11:10:14</td>
                        <td><button class="text_s_bt">詳細</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>

        <div class="text-center">
            <button class="text_bt">戻る</button> 
        </div>
        <div class="text-center">
            <div class="text-center col-lg-6 offset-lg-3">
                <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
            </div>
        </div>
        </div>
    
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.2.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>
