<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link href="css/customer.css" rel="stylesheet">
</head>
<body>
<div class="a11">
    <!-- 标题 -->
    <div class="title">保険情報</div>

    <!--  内容 -->
        <div class="a11_main">
  
            <div class="row_container">
                <p class="row_title">保険情報</p>

                <div class="row">
                    <div class="row_div"> 
                        <div class="row_name">
                            <ul >
                                <li>保険番号</li>
                            </ul>
                        </div>
                        <div class="row_input">05</div>
                    </div>
                </div>
            </div>

            <div class="row_container">
                <p class="row_title">特徴</p>
                <br>
                <div class="row">
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴１</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/1.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/1.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴２</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/2.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/2.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴３</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/3.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/3.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴４</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/4.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/4.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴５</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/5.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/5.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴６</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/6.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/6.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴７</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/7.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/7.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴８</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/8.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/8.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴９</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/9.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/9.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>特徴１０</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/01/10.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/01/10.jpg">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row_container">
                <p class="row_title">保障内容</p>
                <br>
                <div class="row">
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容１</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/1.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/1.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容２</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/2.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/2.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容３</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/3.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/3.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容４</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/4.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/4.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容５</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/5.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/5.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容６</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/6.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/6.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容７</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/7.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/7.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容８</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/8.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/8.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容９</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/9.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/9.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>保障内容１０</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/02/10.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/02/10.jpg">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row_container">
                <p class="row_title">給付例</p>
                <br>
                <div class="row">
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例１</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/03/1.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/1.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例２</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/03/2.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/2.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例３</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/03/3.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/3.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例４</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/03/4.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/4.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例５</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/03/5.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/5.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例６</li>
                             </ul>
                        </div>
                        <div class="row2_input">resource/2022100155021436/03/6.jpg</div>
                    </div>
                    <div class="row_image_div"> 
                        <img src="resource/2022100155021436/03/6.jpg">
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例７</li>
                             </ul>
                        </div>
                        <div class="row2_input"></div>
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例８</li>
                             </ul>
                        </div>
                        <div class="row2_input"></div>
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例９</li>
                             </ul>
                        </div>
                        <div class="row2_input"></div>
                    </div>
                    <div class="row2_2_div">
                        <div class="row2_name">
                             <ul >
                                <li>給付例10</li>
                             </ul>
                        </div>
                        <div class="row2_input"></div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="text_l_bt">コピー作成</button> 
            </div>
            <div class="text-center">
                <div class="text-center col-lg-6 offset-lg-3">
                    <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
                </div>
            </div>
        </div>
</div>
        
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.2.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>
