<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>株式会社 H 保険</title>
	<!-- Bootstrap -->
	<link th:href="@{/css/customer.css}" rel="stylesheet">
</head>

<body>

	<div class="a11">
		<!-- 标题 -->
		<div class="title">保険情報新規</div>
		<div class="a11_main">
			<div class="row_container">
				<p class="row_title">保険</p>
				<div class="row">
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>保険ID</li>
							</ul>
						</div>
						<textarea class="row_input" name="HKID" placeholder="2022100155021436"
							contenteditable></textarea>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>保険番号</li>
							</ul>
						</div>
						<textarea class="row_input" name="HKID" placeholder="00" contenteditable></textarea>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>保険名</li>
							</ul>
						</div>
						<textarea class="row_input" name="HKN" placeholder="医療保険１" contenteditable></textarea>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>保険種類</li>
							</ul>
						</div>
						<select class="row_input" name="HKSR">
							<option>生命保険・死亡保険</option>
							<option>医療保険・入院保険</option>
							<option>旅行の保険</option>
							<option>火災保険</option>
							<option>地震保険</option>
							<option>自動車保険</option>
							<option>自転車保険</option>
						</select>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>保険共通区分</li>
							</ul>
						</div>
						<textarea class="row_input" name="HKKTKB" placeholder="001" contenteditable></textarea>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>販売区分</li>
							</ul>
						</div>
						<select class="row_input" name="HBKB">
							<option>すべで</option>
							<option>オンライン</option>
							<option>店頭</option>
							<option>保留</option>
							<option>販売終了</option>
						</select>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>排他区分</li>
							</ul>
						</div>
						<select class="row_input" name="HBFLG">
							<option>該当しない</option>
							<option>該当</option>
						</select>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>簡単契約区分</li>
							</ul>
						</div>
						<select class="row_input" name="KTKYFLG">
							<option>該当しない</option>
							<option>該当</option>
						</select>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>支払方式</li>
							</ul>
						</div>
						<select class="row_input" name="HKSR">
							<option>年次</option>
							<option>月次</option>
							<option>年次</option>
						</select>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>契約方式</li>
							</ul>
						</div>
						<select class="row_input" name="HKSR">
							<option>年次</option>
							<option>月次</option>
							<option>年次</option>
						</select>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>料金額(円)</li>
							</ul>
						</div>
						<textarea class="row_input" name="HKSR" placeholder="35,000" contenteditable></textarea>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>状態</li>
							</ul>
						</div>
						<select class="row_input" name="STS">
							<option>準備中</option>
							<option>有効</option>
							<option>無効</option>
						</select>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>検索用年齢S</li>
							</ul>
						</div>
						<textarea class="row_input" name="HKSR" placeholder="18" contenteditable></textarea>
					</div>
					<div class="row_div">
						<div class="row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>検索用年齢E</li>
							</ul>
						</div>
						<textarea class="row_input" name="HKSR" placeholder="80" contenteditable></textarea>
					</div>
					<div class="row_div">
						<div class=" row_name">
							<ul>
								<li><img th:src="@{/images/icon_required.gif}" alt="必須"></li>
								<li>検索用性別</li>
							</ul>
						</div>
						<div class="row_input">
							<ul>
								<li><input type="radio" class="custom-control-input" id="customRadio1" name="SEX">
									<label class="custom-control-label" for="customRadio1">男性</label></li>
								<li></li>
								<li><input type="radio" class="custom-control-input" id="customRadio2" name="SEX">
									<label class="custom-control-label" for="customRadio2">女性</label></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center">
				<button class="text_l_bt">登録</button>
				<button class="text_l_bt">新規保険紹介</button>
			</div>
			<div class="text-center">
				<div class="text-center col-lg-6 offset-lg-3">
					<p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
				</div>
			</div>
		</div>

	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap-4.0.0.js}"></script>
</body>

</html>