<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　保険</title>
<!-- Bootstrap -->
<link th:href="@{/css/customer.css}" rel="stylesheet">
</head>
<body>

<div class="a11">
    <!-- 标题 -->
    <div class="title">会員情報検索</div>
    <div class="a11_main">
        <div class="row_container" >
            <p class="row_title">検索条件</p>
            <div class="row">
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li>Eメール</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="yamata.taro@h.co.jp" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li>携帯電話</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="08012345678" contenteditable></textarea>
                </div>
                <div class="row_div">
                    <div class="row_name">
                        <ul>
                            <li>顧客ID</li>
                        </ul>
                    </div>
                    <textarea class="row_input" placeholder="1234567890123456" contenteditable></textarea>
                </div>
            </div>
            <div>
                <button class="text_s_bt">検索</button>
            </div>
        </div>

        <br>

        <div class="row_title">会員情報</div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>顧客ID</th>
                        <th>姓名</th>
                        <th>生年月日</th>
                        <th>携帯電話</th>
                        <th>郵便番号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1234567890123456</td>
                        <td>ヤマダ　タロウ1</td>
                        <td>1980/01/01</td>
                        <td>080-1234-5678</td>
                        <td>163-8001</td>
                    </tr>
                    <tr>
                        <td>1234567890123457</td>
                        <td>ヤマダ　タロウ2</td>
                        <td>1980/01/01</td>
                        <td>080-1234-5679</td>
                        <td>163-8001</td>
                    </tr>
                    <tr>
                        <td>1234567890123458</td>
                        <td>ヤマダ　タロウ3</td>
                        <td>1980/01/01</td>
                        <td>080-1234-5670</td>
                        <td>163-8001</td>
                    </tr>
                    <tr>
                        <td>1234567890123459</td>
                        <td>ヤマダ　タロウ4</td>
                        <td>1980/01/01</td>
                        <td>080-1234-5671</td>
                        <td>163-8001</td>
                    </tr>
                    <tr>
                        <td>1234567890123460</td>
                        <td>ヤマダ　タロウ5</td>
                        <td>1980/01/01</td>
                        <td>080-1234-5672</td>
                        <td>163-8001</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>

        <div class="text-center">
            <button class="text_bt" th:onclick="fan()">戻る</button>
        </div>
        <div class="text-center">
            <div class="text-center col-lg-6 offset-lg-3">
                <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
            </div>
        </div>
        </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap-4.0.0.js}"></script>
<script th:inline="javascript">
 function fan(){
	 window.location.href = "http://localhost:8885/top/show";
 }
</script>
</body>
</html>
